{% extends 'base.html' %}
{% load static i18n custom_filters %}

{% block content %}
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                         class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect id="bound" x="0" y="0" width="24" height="24"/>
                            <path d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z"
                                  id="Combined-Shape" fill="#000000" opacity="0.3"/>
                            <path d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z"
                                  id="Combined-Shape-Copy" fill="#000000"/>
                        </g>
                    </svg>
                </span>
                <h3 class="kt-portlet__head-title">
                    {% trans 'statistics'|capfirst %}
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-widget25">
                <span class="kt-widget25__stats m-font-brand">
                    {{ total_amount|show_price|safe }}
                </span>
                <span class="kt-widget25__subtitle">{% trans 'raised in total'|capfirst %}</span>
                <div class="kt-widget25__items">
                    {% for status, data in by_status.items %}
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                {{ data.percent }}%
                            </span>
                            <div class="progress kt-progress--sm">
                                <div class="progress-bar kt-bg-{{ data.color }}" role="progressbar"
                                     style="width: 63%;"
                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                {{ status|upper }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4 mt-4">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-widget14">
                        <div class="kt-widget14__header">
                            <h3 class="kt-widget14__title">
                                {% trans 'summary'|capfirst %}
                            </h3>
                        </div>
                        <div class="kt-widget14__content">
                            <div class="kt-widget14__chart">
                                <div id="kt_chart_revenue_change" style="height: 150px; width: 150px;"></div>
                            </div>
                            <div class="kt-widget14__legends">
                                {% for status, data in by_status.items %}
                                    <div class="kt-widget14__legend">
                                        <span class="kt-widget14__bullet kt-bg-{{ data.color }}"></span>
                                        <span class="kt-widget14__stats">{{ data.percent }}% {{ status }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'plugins/raphael/raphael.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/morris.js/morris.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/chart.js/dist/Chart.bundle.js' %}" type="text/javascript"></script>

    <script>
        var data = [];
        var colors = [];
        {% for status, data in by_status.items %}
            data.push({
                label: '{{ status|capfirst }}',
                value: '{{ data.percent|striptags }}'
            });
            colors.push(KTAppOptions.colors.state['{{ data.color }}']);
        {% endfor %}

        Morris.Donut({
            element: 'kt_chart_revenue_change',
            data: data,
            colors: colors
        });
    </script>
{% endblock %}